{% extends 'base.html' %}

{% block title %}All Notes{% endblock %}

{% block content %}
    {% if isNote %}
        {% for note in notes %}
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-header"><h2>{{ note.title }}</h2></div>
            <div class="card-body">
                <p class="card-text">{{ note.text }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h4>There are no notes! Add one now!</h4>
    {% endif %}
{% endblock %}